@mixin square($side) {
  display: block;
  width: $side;
  height: $side;
}

@mixin circle($side) {
  @include square($side);

  border-radius: 50%;
}

@mixin flexibility($main, $additional, $direction: row) {
  display: flex;
  justify-content: $main;
  align-items: $additional;
  flex-direction: $direction;
}

@mixin column($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin row($gap) {
  display: flex;
  flex-direction: row;
  gap: $gap;
}

@mixin visibility($status: visible) {
  @if ($status == visible) {
    opacity: 100%;
    pointer-events: auto;
  }

  @if ($status == hidden) {
    opacity: 0;
    pointer-events: none;
  }
}