:root {
  --accent-color-5: #05FF70;

  --primary-color-5: #F0F0F0;
  --primary-color-10: #D9D9D9;
  --primary-color-15: #777777;

  --additional-color-5: #222222;
  --additional-color-10: #000000;

  --transparent-color-15: rgb(0, 85, 255, 0.5);
  --transparent-color-35: rgba(255, 255, 255, 0.5);

  --transition: 200ms all ease-in-out;
}